<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

  <div class="page-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
     
     
    
      <div >
        <ul class="navbar-nav mr-auto">

          <li class="nav-item ">
            <a class="nav-link" routerLink = "/tiendas" routerLinkActive="active">Tiendas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink= "/articulos" routerLinkActive="active">Articulos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink= "/inventario" routerLinkActive="active">Inventario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink= "/taablero" routerLinkActive="active">Tablero</a>
          </li>        
        
        </ul>
        
      </div>
    </nav>



    <div class="container-fluid">     

      <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                   <router-outlet></router-outlet>
                </div>
            </div>
        </div>
      </div>

    
    </div> 

  </div>

</div>