<form class="form-horizontal p-t-20"
    [formGroup]="articuloForm"
    (submit)="agregarArticulo()"> 

    <div class="form-group row">                                                                                
        <div class="col-sm-5">
            <div class="input-group">                
                <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
            </div>
        </div>        
    </div>

    <div class="form-group row animated fadeIn" >       
        <div class="col-sm-5">
            <div class="input-group">    
                <select class="form-control"
                            formControlName="categoria">
                    <option value="">Seleccione Categoria</option>
                    <option *ngFor="let c of categorias" [value]="c.ID_CATEGORIA">{{ c.NOMBRE }}</option>
                </select>                                
            </div>
        </div>
    </div>


    <div class="form-group row">        

        <div class="col-sm-9 align-self-end">
            <button type="submit" 
                class="btn btn-success waves-effect waves-light"
                [disabled]="articuloForm.invalid">
                <i class="fa fa-plus-circle"></i>
                Nuevo Articulo
            </button>            
        </div>
    </div>  
</form>

<div class="row animated fadeIn fast"
        *ngIf="cargandoArticulos">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>           
        </div>
                
    </div>
</div>
<div class="table-responsive scroll-y" *ngIf="!cargandoArticulos">
    <span >
        <table class="table m-t-0 table-hover animated fadeIn">
            <thead>
                <tr>
                    <th>Nombre</th>

                    <th>Categoria</th>
                               
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody >                                                 
                <tr *ngFor="let a of articulos" class="footable-odd">                  
                    <td>
                        <input type="text" 
                                class="form-control" 
                                placeholder="Nombre del articulo"
                                [(ngModel)]="a.NOMBRE_ARTICULO"
                        />
                    </td>
                    <td>
                        <!--{{a.NOMBRE_CATEGORIA}}-->                        
                        <span *ngFor="let cnv of  a.categorias_nombres_varios">
                            {{ cnv }}, 
                        </span>
                    </td>
                    <td class="text-nowrap text-center">                        
                        <span (click)="guardarCambios( a )" data-toggle="tooltip" data-original-title="Guardar cambios"><i class="fa fa-pencil ext-inverse m-r-10 cursor"></i></span>
                        
                    </td>                                            
                </tr>                                                         
            </tbody>              
        </table>
    </span> 
</div>   

